.HinzufügenBtn{
    border-radius: 50px;
    background: #5e2e94;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    color:#fff;
    font-size: 0.8em;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.aktivitätenContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem
}

.title{
    margin-right: 5rem;
    font-size: 1.4rem
}

.paperaktivitäten{
    width: 60%;
    color:#5e2e94;
    background-color:#dbc7f2;
    color: black;
    font-size: large;
    padding: 0.1em 1em;
    margin-top: 7px; 
    display: flex; 
    border-radius: 40px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.ProArbBtn{
    width: 22px;
    margin-left: auto;
}

.paperaktivitäten:hover{
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}

@media screen and (max-width: 800px){
    .paperaktivitäten{
        width: 100%;
    }
}