.ProjectCard{
    box-shadow: #5e2e94 0px 3px 8px;
    border-radius: 10px;
    padding-bottom: 1rem;
    background-color: rgba(172, 132, 217, 0.276);
    color: #5e2e94;
    width: 15rem;
    height: 14rem;
    display: flex;
    justify-content: center;
}

.ProjectCard-PL{
    box-shadow: #5e2e94 0px 3px 8px;
    border-radius: 10px;
    padding-bottom: 1rem;
    background-color: rgba(172, 132, 217, 0.772);
    color: white;
    width: 15rem;
    height: 14rem;
    display: flex;
    justify-content: center;
}
.AddProjectCard{
    box-shadow: #5e2e94 0px 3px 8px;
    border-radius: 10px;
    padding-bottom: 1rem;
    background-color: rgba(172, 132, 217, 0.772);
    color: white;
    width: 15rem;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProjectCard:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}
.ProjectCard-PL:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}
.AddProjectCard:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}

.ProjectCardWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProjektTitel{
font-weight: bold;
font-size: 1.3rem;
display: flex;
justify-content: center;
border-bottom: 1.5px solid #5e2e94;
margin-bottom: 1rem;  
}

.ProjektTitel-PL{
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    border-bottom: 1.5px solid white;
    margin-bottom: 1rem;  
    }

.ProjektContent{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    }

.learnBtn{
    border-radius: 50px;
    background: #5e2e94;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    color:#fff;
    font-size: 0.8em;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.learnBtn:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}

.learnBtnWrapper{
    display: flex;
    justify-content: center;
}

.addImgWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addImg{
    width: 9.2rem;
}

.AppBar{
    background-color:#5e2e94;
    color: white
}

.membersDisplay{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem
}

.Projektdetails{
    justify-content: center;
    border: solid rgb(55, 53, 53);
    border-radius: 12px;
    margin-top: 1rem;
    background-color: rgb(255, 253, 255);
}

.projektzeit{
    display: flex;
    flex-direction: row;
}

.addBtnFmly{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.überschriftakt{
    margin-top: 1rem;
}

.addMemberBtn{
    border-radius: 50px;
    background: #5e2e94;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    color:#fff;
    font-size: 0.8em;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;
    margin-left: 50%;
}

.Akt_btn{
    text-decoration: none;
    width: 230px;
    height: 38px;
    font-size: small;
    color: white;
    background: #7e55ae;
    border-radius: 20px;
    white-space: nowrap;
    padding: 0.5rem 0.5rem;

}

.Akt_btn:hover{
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}

.Mit_btn{
    text-decoration: none;
    width: 230px;
    height: 38px;
    font-size: small;
    color: white;
    background: #7e55ae;
    border-radius: 20px;
    white-space: nowrap;
    padding: 0.5rem 0.5rem;
}

.Mit_btn:hover{
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}

.containerproject{
    width:fit-content;
    margin-left: 30px;
}

@media screen and (max-width: 600px){
    .projektzeit{
        flex-direction: column;
    }
    .addBtnFmly{
        flex-direction: column;
    }
}


