.ProjectCard{
    box-shadow: #5e2e94 0px 3px 8px;
    border-radius: 10px;
    padding-bottom: 1rem;
    background-color: rgba(172, 132, 217, 0.276);
    color: #5e2e94;
    width: 15rem;
    height: 14rem;
    display: flex;
    justify-content: center;
}

.ProjectCard-PL{
    box-shadow: #5e2e94 0px 3px 8px;
    border-radius: 10px;
    padding-bottom: 1rem;
    background-color: rgba(172, 132, 217, 0.772);
    color: white;
    width: 15rem;
    height: 14rem;
    display: flex;
    justify-content: center;
}
.AddProjectCard{
    box-shadow: #5e2e94 0px 3px 8px;
    border-radius: 10px;
    padding-bottom: 1rem;
    background-color: rgba(172, 132, 217, 0.772);
    color: white;
    width: 15rem;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProjectCard:hover{
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}
.ProjectCard-PL:hover{
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}
.AddProjectCard:hover{
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}

.ProjectCardWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}



.ProjektTitel{
font-weight: bold;
font-size: 1.5rem;
display: flex;
justify-content: center;
border-bottom: 1.5px solid #5e2e94;
margin-bottom: 1rem;  
}

.ProjektTitel-PL{
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    border-bottom: 1.5px solid white;
    margin-bottom: 1rem;  
    }

.ProjektContent{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    }

.learnBtn{
    border-radius: 50px;
    background: #5e2e94;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    color:#fff;
    font-size: 0.8em;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.learnBtnWrapper{
    display: flex;
    justify-content: center;
}

.addImgWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addImg{
    width: 9.2rem;
}

.AppBar{
    background-color:#5e2e94;
    color: white
}

.AktBtn{
    border-radius: 50px;
    background: #5e2e94;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    color:#fff;
    font-size: 0.8em;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.ProArbBtn{
    border-radius: 50px;
    background: #5e2e94;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    color:#fff;
    font-size: 0.8em;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}
